.features-section {
display: flex;
padding: 0 20px;
flex-direction: column;
align-items: center;
gap: 80px;
align-self: stretch; 
}

.features-head-container {
display: flex;
width: 470px;
padding: 24px 0;
flex-direction: column;
align-items: center;
gap: 24px;
}

.features-section-title {
display: flex;
width: 450px;
padding: 10px;
justify-content: center;
align-items: flex-start;
gap: 10px;
color: #ECECEC;
text-align: center;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Montserrat, Arial;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 57.6px */
letter-spacing: -0.32px;
margin: 0px;
}

.features-section-subtitle {
  color: #ECECEC;
text-align: center;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Montserrat, Arial;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 28.8px */
margin: 0px;
}

.features-container {
display: flex;
width: 1200px;
padding: 10px;
flex-direction: column;
align-items: flex-start;
gap: 80px;
}

.feature-stacked-container-1 {
display: flex;
align-items: flex-start;
justify-content: space-between;
align-self: stretch;
}

.feature-item {
display: flex;
padding: 60px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
border-radius: 20px;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 100%);
box-shadow: 0 -2px 10px 0 rgba(233, 223, 255, 0.30), 0 -2px 40px 0 rgba(187, 155, 255, 0.15), 0 0.5px 0 0 rgba(255, 255, 255, 0.50) inset;  
}

.feature-image {
width: 50px;
height: 50px;
flex-shrink: 0;
margin: 0px;
margin-bottom: 10px;
}

.feature-title {
color: #ECECEC;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Montserrat, Arial;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 41.6px */
letter-spacing: -0.16px;
align-self: stretch;
margin: 0px; 
margin-bottom: 10px; 
}

.feature-description {
color: #ECECEC;
font-family: Montserrat, Arial;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
align-self: stretch;
margin: 0px;
margin-bottom: 10px;  
}

.feature-view-more {
color: #FFF;
font-family: Montserrat, Arial;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
margin-bottom: 10px;
}

.feature-stacked-container-2 {
display: flex;
padding: 60px;
align-items: flex-start;
gap: 150px;
align-self: stretch;
border-radius: 20px;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 100%);
box-shadow: 0 -2px 10px 0 rgba(233, 223, 255, 0.30), 0 -2px 40px 0 rgba(187, 155, 255, 0.15), 0 0.5px 0 0 rgba(255, 255, 255, 0.50) inset;
}

.feature-items-subcontainer {
display: flex;
width: 460px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}


.feature-highlighted-section{
display: flex;
padding: 60px 20px;
flex-direction: column;
align-items: center;
align-self: stretch;  
}

.feature-stacked-container-3 {
display: flex;
padding: 60px;
flex-direction: column;
align-items: center;
gap: 16px;
border-radius: 20px;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 100%);
box-shadow: 0 -2px 10px 0 rgba(233, 223, 255, 0.30), 0 -2px 40px 0 rgba(187, 155, 255, 0.15), 0 0.5px 0 0 rgba(255, 255, 255, 0.50) inset;
}

.feature-item-main {
display: flex;
width: 768px;
flex-direction: column;
align-items: center;
gap: 24px;  
}

.feature-title-head-1{
color: #ECECEC;
text-align: center;
font-family: Montserrat, Arial;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 57.6px */
align-self: stretch;
margin: 0px;
}

.feature-description-subtext {
color: #ECECEC;
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */ 
align-self: stretch;
margin: 0px;
}


.feature-stacked-container-1,
.feature-stacked-container-2,
.feature-stacked-container-3 {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

